<div class="container mt-5">
    <h3 class="text-center mb-4">Histórico</h3>
    
    <!-- Tabela de Histórico -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Hora</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let h of historico">
                <td>20/12/2024</td>
                <td>08:00</td>
                <td>{{ mapOperacao(h.operacao) }}</td>
            </tr>
        </tbody>
    </table>
</div>
