html, body {
    height: 100%;
    margin: 0;
  }
  
  .container {
    margin-bottom: 20px;
  }
  
  #map {
    height: 400px; /* Altura fixa do mapa */
    width: 100%; /* Largura do mapa será 100% do contêiner */
  }
  
  .table {
    width: 100%;
  }
  
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination button {
    padding: 5px 10px;
    margin: 0 5px;
  }
  
  .pagination span {
    margin: 0 10px;
  }
  